.SearchResults {
    width: 100%;
    margin: 0 2rem 2rem;
    background-color: rgba(25, 25, 112, 0.5);
    color: white;
    text-align: left;
    padding: 1rem;
    
    box-sizing: border-box;
}

.SearchResults h2 {
    margin: 1rem .5rem;
}

@media only screen and (max-width: 900px) {
    .SearchResults {
      margin: 1rem 0;
      max-height: 40%;
      height: 40%;
    }
  }