.Track {
    border-bottom: 1px white solid;
    text-align: left;
    padding-left: 1rem;
}

.Track-info {
    display: inline-block;
    color: white;
}

.Track-info h3 {
    margin: .5rem auto;
}

.Track-info p {
    margin: .5rem auto;
}

.Track button {
    float: right;
    margin: 1rem;
    padding: 0;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 50%;
}

.Track button:hover {
    background-color: white;
    color: black;
}