.App {
  text-align: center;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('./background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

header {
  color: white;
  background-color: black;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "Varela Round";
}

header h1 {
  margin: 0;
  display: inline-block;
}

header span {
  color: blue;
}

.App body {
  padding: 2rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 50rem;
  margin: auto 4rem;
}

@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    margin: auto 1rem;
  }
}