.Playlist {
    width: 100%;
    margin: 0 2rem 2rem;
    background-color: rgba(25, 25, 112, 0.5);
    padding: 1rem;
    
    box-sizing: border-box;
}

.Playlist form {
    height: 100%;
    box-sizing: border-box;
}

.Playlist input {
    font-size: 1.5rem;
    margin: .5rem 0;
    padding: .5rem;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px white solid;
    color: white;
    font-weight: bold;
}

.Playlist input:focus {
    background-color: white;
    color: black;
}

.Playlist button[type=submit] {
    font-size: 1.5rem;
    margin: 1.5rem;
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    border: none;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

.Playlist button[type=submit]:hover {
    background-color:darkmagenta;
}

.Playlist button[type=submit]:active {
    color: midnightblue;
}

@media only screen and (max-width: 900px) {
    .Playlist {
      margin: 1rem 0;
      max-height: 50%;
      height: 50%
    }

    .Playlist .Tracklist {
        max-height: 60%;
    }

    .Playlist button[type=submit] {
        font-size: 1rem;
    }
  }